PORT=

JWT_SECRET=
JWT_SECRET_RESET_PASSWORD=
CAPTCHA_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

VITE_API_BASE_URL=
VITE_API_URL=
API_BASE_URL=

MONGODB_URI=
UPSTASH_REDIS_URL=
CSRF_SECRET=
SESSION_SECRET=

BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=